<div class="degrade-angulaire">
  <div class="container">
    <% if @questions.present? %>
      <%= form_tag quiz_submit_path, style:"margin-top: 20px", method: :post, local: true, data: {turbo: false} do |form| %>
        <h2 class="question-header"><%= @current_question[:question] %></h2>
        <hr>
        <div class="options-container">
          <div class="center">
          <% @current_question[:options].each_with_index do |option, index| %>
            <div class="option">
              <%= radio_button_tag "question[answer_id]", option[1], false, id: "option_#{index}", class: "toggle-radio" %>
              <%= label_tag "option_#{index}", option[0], class: "toggle-label" %>
            </div>
          <% end %>
          </div>
        </div>
    
        <div class="row justify-content-center">
          <div class="col-md-6">
            <%=  submit_tag "VALIDER", class:"btn btn btn-lg w-100"%>
          </div>
        </div>
      <% end %>
    <% end %>

    <%= link_to "Page Home", root_path, class:"btn btn btn-sm" %> |
    <%= link_to "Question suivante", quiz_index_path, class:"btn btn btn-sm"  %> 
  </div> 
</div>
